body{
	background-color: #e7e7e7;
}
.display_bids{
	background-color: #04c5fd;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	border-radius: 10px;
}
.display_bids h4{
	color: #000;
	margin-left: 2%;}

.display_bids p{
	margin-left: 2%;
}
.display_bids:hover{
	background-color:#cfc300;
	transition-duration: 0.6s;

}
.display_bids:hover h4{
	color: #fff;
	transition-duration: 0.6s;
}	
.assignments_container{
	margin-top: 5%;
}
.title_container{
	text-align: center;
	margin-top: 2%;
}
.display_bids h6{
	margin-left: 2%;
}
