body{
	background-color: #dfdfdd;
}
.top-bar{
	height: 100px;
	width: 100%;
	background-color: black;
}
.main_wrap{
	margin-left: 20%;
	margin-top: 3%;
	

}
.title{
	margin-left: 23%;
	font-family: Tahoma;
	color: #2f2f2f;
}
.left_photo{
	float: left;
	border: 1px solid blue;
	border-radius: 4px;
}
.left_photo h2{
	color: #06c1dd;
	margin-left: 20%;
	font-family: Tahoma;
}
.left_photo p{
	color: #06c1dd;
	margin-left: 1%;
	font-family: Tahoma;
}

.right_details{
	position: absolute;
	margin-left: 18%;
	border: 1px solid blue;
	width: 50%;
	height: 390px;
	padding: 10px;


}
.right_details h2{
	font-family: Tahoma;

}
.right_details h4{
	font-family: Tahoma;
}
.right_details a{
	text-decoration: none;
	color: white;
}
.right_details button{
	background-color: orange;
	font-size: 20px;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 2px;
	text-decoration: none;
}
.right_details button:hover{
	background-color: blue;
	transition-duration: 0.6s;
}
